body {
      margin: 0;
      background-color: #333;
      font-family: sans-serif;
}

.main-nav img {
      max-width: 100%;
}

.logo {
      position: absolute;
      width: 100%;
      top: 0rem;
      z-index: -1;
      background-color: #475179;
}

.toggle-menu {
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
      filter: invert(1);
      width: 40px;
      z-index: 1;
}

@media screen and (min-width: 768px) {
      
      .toggle-menu {
            display: none;
      }
      
}

.main-menu {
      list-style: none;
      margin-top: 0rem;
      margin-bottom: 0;
      padding-left: 0;

      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #475179;
      transition: transform 0.4s;
      transform: translateY(-100%);
}

.main-menu--show {
      transform: translateY(0px);
}

@media screen and (min-width: 768px) {
      .main-menu {           
            flex-direction: row;
            transform: translateY(0);
            
            justify-content: center;            
      }
}

.main-menu__item {
      margin: 1rem auto;
      font-size: 2rem;
}

.main-menu__link {
      color: #EBEEF1;
      text-transform: uppercase;
      text-decoration: none;
}

@media screen and (min-width: 1366px) {
      .main-menu {   
            width: 100%;
            height: 130px;
            
      }
      
      .main-menu__item {
            font-size: 3rem;
            font-weight: 700;
      }
      
      .logo {
            width: 100%;
            max-width: 160px;
            z-index: 1;
      }

}